<form action="/form" method="post">

    <input type="text" name="alias">
    <input type="number" name="price">
    <input type="number" name="id_category">

    <input type="submit" value="send">

</form>